body {
    font-family: Arial, sans-serif;
    background-color: #66ffff;
    color:#fff;
}

header {
    background-color: #66ffff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadro {
    background-color: #333;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.cuadro1 {
   background-color: #333;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
}

.cuadro h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

body{
    font-family: arial, helvetica;
    background:linear-gradient(150deg,#6c3483,#58d68d);
}
.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 10000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

.registros{
    background-color: #333;
    padding: 10px;
    margin: 200px auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}